<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/static/signin-signup_page.css">
    <script type="module" src="/static/js/register.js" defer></script>
    <title>SignIn-Sign-Up</title>
</head>

<body>
    <div class="container">
        <div class="signin-signup">
            <form action="" class="sign-in-form" id="sign-in-form">
                <h2 class="title">Sign In</h2>
                <div class="input-field">
                    <i class='bx bxs-envelope'></i>
                    <input type="email" id="sign-in-email" placeholder="Email" required>
                </div>
                <div class="input-field">
                    <i class='bx bxs-lock'></i>
                    <input type="password" id="sign-in-password" placeholder="Password" required>
                </div>

                <input type="submit" id="sign-in-submit" value="Sign in" class="btn" onclick="window.location.href='/hh';">

                <p class="social-text">Or Sign in with social platform</p>
                <div class="social-media">
                    <a href="https://www.facebook.com/" class="social-icon">
                        <i style="color: blue;" class='bx bxl-facebook'></i>
                    </a>
                    <a href="https://www.google.com/" class="social-icon">
                        <i style="color: red;" class='bx bxl-google'></i>
                    </a>
                    <a href="https://www.twitter.com/" class="social-icon">
                        <i style="color: rgb(77, 143, 190);" class='bx bxl-twitter'></i>
                    </a>
                    <a href="https://www.linkedin.com/" class="social-icon">
                        <i style="color: rgb(9, 9, 67);" class='bx bxl-linkedin'></i>
                    </a>
                </div>
                <p class="account-text">Don't have an account? <a href="#" id="sign-up-btn2">Sign Up</a></p>
            </form>
            <form action="" class="sign-up-form" id="sign-up-form">
                <h2 class="title">Sign Up</h2>
                <div class="input-field">
                    <i class='bx bxs-user'></i>
                    <input type="text" id="sign-up-username" placeholder="Username" required>
                </div>
                <div class="input-field">
                    <i class='bx bxs-envelope'></i>
                    <input type="email" id="sign-up-email" placeholder="Email" required>
                </div>
                <div class="input-field">
                    <i class='bx bxs-lock'></i>
                    <input type="password" id="sign-up-password" placeholder="Password" required>
                </div>
                <input type="submit" id="sign-up-submit" value="Sign Up" class="btn" >
                <p class="social-text">Or Sign in with social platform</p>
                <div class="social-media">
                    <a href="https://www.facebook.com/" class="social-icon">
                        <i style="color: blue;" class='bx bxl-facebook'></i>
                    </a>
                    <a href="https://www.google.com/" class="social-icon">
                        <i style="color: red;" class='bx bxl-google'></i>
                    </a>
                    <a href="https://www.twitter.com/" class="social-icon">
                        <i style="color: rgb(77, 143, 190);" class='bx bxl-twitter'></i>
                    </a>
                    <a href="https://www.linkedin.com/" class="social-icon">
                        <i style="color: rgb(9, 9, 67);" class='bx bxl-linkedin'></i>
                    </a>
                </div>
                <p class="account-text">Already have an account? <a href="#" id="sign-in-btn2">Sign In</a></p>
            </form>
        </div>
        <div class="panels-container">
            <div class="panel left-panel">
                <div class="content">
                    <h3>Welcome Back!</h3>
                    <p>create a new account</p>
                    <button class="btn" id="sign-in-btn">Sign In</button>
                </div>
                <img src="/static/image/dr.jpg/" alt="Error Loading Image" class="image">
            </div>
            <div class="panel right-panel">
                <div class="content">
                    <h3>Welcome To Medibot</h3>
                    <p>AI medical chatbot</p>
                    <button class="btn" id="sign-up-btn">Sign Up</button>
                </div>
                <img src="/static/image/dr.jpg/" alt="Error Loading Image" class="image">
            </div>
        </div>
    </div>
    <script src="/static/js/signin-signup_page.js"></script>

</body>

</html>